.fotter_container{
    height: 3rem;
    width: 100%;
    /* justify-content: left; */
    position:fixed ;
    left: 0px;
    bottom: 0px;
    background-color: rgb(47, 49, 49);
    display: inline-flex;
}
.info{
    font-size: 1.2rem;
    text-align: center;
    width: 50%;
    color: white;
    padding-top: .8rem;
}
.foot a{
    font-size: 1.4rem;
    color: white;
    margin-right: 1rem;
    padding-top: .8rem;
    /* float: right */
}
.link{
    width: 50%;
}
.link ul{
    float: right;
    padding-right: 1rem;
    margin-top: 1rem;
}
@media screen and (max-width: 1056px) {
    .fotter_container .info{
        font-size: .8rem;
    }
    .fotter_container .foot a{
        font-size: .8rem;
    }

}